.fadeIn {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}

.scroll-effect {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.scroll-effect-active {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s;
}


.slider-container {
  margin: 20px;
}